{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Edit Experiences</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">Experience Details</li>
                        <li class="breadcrumb-item active">Edit Experiences</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a href="/AExperience" class="btn btn-outline-success mb-2 me-2">Back</a>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center>
                    <h3 class="text-success">{{message}}</h3>
                </center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 pt-0 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="row justify-content-start">
            <div class="col-md-12 mb-4">
                <div class="card h-100">
                    <div class="card-header">
                        <h5 class="mb-1">Edit Experiences</h5>
                    </div>
                    <div class="card-body">
                        <form class="row g-3" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="col-12">
                                <label for="" class="form-label"><b>Experiences Category :</b></label>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b>Category</b></label>
                                <select id="Category" class="form-select" name="Category">
                                    <option selected value="">Choose...</option>
                                    {% for i in eq %}
                                    <option value="{{i.id}}" {% if i.id == dt.EC_id %} selected {% endif %}>{{i.Category}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b>Name</b></label>
                                <input type="text" class="form-control" name="Name" value="{{dt.Name}}">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b> Old Image</b></label>
                                <img src="/{{dt.Image}}" style="width: 300px; border-radius: 10px;" alt="">
                                <label for="" class="form-label"><b>Image</b></label>
                                <input type="file" class="form-control" name="Image" id="">
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Small Description</b></label>
                                <textarea class="form-control" rows="3"
                                    name="SmallDescription">{{dt.SmallDescription}}</textarea>
                            </div>
                            <div class="col-12">
                                <label for="" class="form-label"><b>Experiences Category Details :</b></label>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Description</b></label>
                                <textarea class="form-control" rows="3" name="Description">{{dt.Description}}</textarea>
                            </div>
                            <div class="col-md-12">
                                <label for="" class="form-label"><b>Address</b></label>
                                <textarea class="form-control" rows="3" name="Address">{{dt.Address}}</textarea>
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b>Price</b></label>
                                <input type="text" class="form-control" name="Price" value="{{dt.Price}}">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b>Days</b></label>
                                <input type="text" class="form-control" name="Days" value="{{dt.Days}}">
                            </div>
                            <div class="col-md-4">
                                <label for="" class="form-label"><b>Date</b></label>
                                <input type="date" class="form-control" name="Date" id="Date">
                            </div>
                            <div class="col-md-3">
                                <label for="inputEmail4" class="form-label">Status</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="KnowMore" id="flexCheckChecked2"
                                        name="View" {% if dt.View == 'KnowMore' %} checked {% endif %}>
                                    <label class="form-check-label">
                                        Know More...
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" value="ComingSoon"
                                        id="flexCheckChecked" name="View" {% if dt.View == 'ComingSoon' %} checked {% endif %}>
                                    <label class="form-check-label" for="">
                                        Coming Soon!
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row justify-content-center">
                                    <button type="submit" class="col-5 btn btn-success m-1">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--//Page content End//-->

{% endblock content %}

{% block script %}
<script>
    function formatDate(d) {
        let day = ("0" + d.getDate()).slice(-2);
        let month = ("0" + (d.getMonth() + 1)).slice(-2);
        let year = d.getFullYear();
        return `${year}-${month}-${day}`;
    }
    DF = new Date('{{dt.Date}}')
    document.getElementById("Date").value = formatDate(DF);
</script>
{% endblock script %}