{% extends 'admin/main.html' %}
{% load static %}
{% block content %}
<!--//Page Toolbar//-->
<div class="toolbar p-4 bg-body">
    <div class="position-relative container-fluid px-0">
        <div class="row align-items-center position-relative">
            <div class="col-md-5 col-9 mb-4 mb-lg-0">
                <h3 class="mb-2">Experiences Details</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Experiences Details</li>
                    </ol>
                </nav>
            </div>
            <div class="col-md-7 col-3 text-md-end">
                <div class="d-flex justify-content-md-end align-items-center">
                    <a type="button" href="/AExperience" class="btn btn-outline-success mb-2 me-2">Back</a>
                </div>
            </div>
            <div class="col-12">
                {% for message in messages %}
                {% if message.tags == 'success' %}
                <center>
                    <h3 class="text-success">{{message}}</h3>
                </center>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="content p-4 d-flex flex-column-fluid">
    <div class="container-fluid px-0">
        <div class="">
            <div class="row">
                <div class="card p-2 ">
                    <div class="row">
                    <div class="col-md-12 mb-2"><b>Experiences Category :-</b></div>
                    <div class="col-md-6 mb-2"><b class="me-5">Category :</b> {{ec.Category}}</div>
                    <div class="col-md-6 mb-2"><b class="me-5">Name :</b> {{dt.Name}}</div>
                    <div class="col-md-12 mb-2"><b >Description :</b><br> {{dt.SmallDescription|safe }}</div>     
                    </div>
                    
                </div>
                <div class="card mt-2 p-2">
                    <div class="row">
                    <div class="col-md-12 mb-2"><b>Experiences Category Data:-</b></div>
                    <div class="col-md-12 mb-2"><b>Description :</b> {{dt.Description|safe }}</div>
                    <div class="col-md-12 mb-2"><b class="me-5">Address :</b> {{dt.Address}}</div>
                    <div class="col-md-4 mb-2"><b class="me-5">Price :</b> {{dt.Price}}</div>
                    <div class="col-md-4 mb-2"><b class="me-5">Days :</b> {{dt.Days}}</div>
                    <div class="col-md-4 mb-2"><b class="me-5">Date :</b> {{dt.Date}}</div>
                    </div>
                    
                </div>
                <div class="card mt-2 p-2" id="FIncluded">
                    <div class="col-md-12 mb-2"><b>Experiences Included:-</b></div>
                    <div class="col-md-12">
                        <div class="">
                            <form method="post">
                            {% csrf_token %}
                                <textarea class="form-control mb-2" rows="3" name="Lines" required></textarea>
                                <input type="hidden" name="E_id" value="{{dt.id}}">
                                <button type="submit" formaction="/FIncluded" class="btn btn-success ">Save</button>
                            </form>
                        </div>
                    </div>
                    {% for i in EIN %}
                    {% if i.Types == 'Included' %}
                    <div class="col-md-12"> >  {{i.Lines}}</div><p class="text-end"><a href="/DeleteIncluded/{{i.id}}" class="text-danger">Delete</a></p>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="card mt-2 p-2" id="FNotIncluded">
                    <div class="col-md-12 mb-2"><b>Experiences Not Included:-</b></div>
                    <div class="col-md-12">
                        <div class="">
                            <form method="post">
                            {% csrf_token %}
                                <textarea class="form-control mb-2" rows="3" name="Lines" required></textarea>
                                <input type="hidden" name="E_id" value="{{dt.id}}">
                                <button type="submit" formaction="/FNotIncluded" class="btn btn-success ">Save</button>
                            </form>
                        </div>
                    </div>
                    {% for i in EIN %}
                    {% if i.Types == 'NotIncluded' %}
                    <div class="col-md-12"> > {{i.Lines}}</div><p class="text-end"><a href="/DeleteIncluded/{{i.id}}" class="text-danger">Delete</a></p>
                    {% endif %}
                    {% endfor %}
                </div>  
                <div class="card mt-2 p-2" id="Images">
                    <div class="col-md-12 mb-2"><b>Experiences Images:-</b></div>
                    <div class="col-md-12">
                        <div class="">
                            <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                                <input type="file" class="form-control mb-2" name="Image" required>
                                <input type="hidden" name="E_id" value="{{dt.id}}">
                                <button type="submit" class="btn btn-success mb-2">Save</button>

                            </form>
                        </div>
                    </div>
                    <div class="row">
                        {% for i in ei %}
                    <div class="col-md-3"><center><img src="/{{i.Image}}" style="width: 200px; height: 130px; border-radius: 7px;" alt="" class="img-fluid mb-2"><br><a href="/ExImageDelete/{{i.id}}" class="btn btn-danger">Delete</a></center> </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}