{% extends 'main.html' %}
{% load static %}
{% block content %}
<!-- Page Banner -->
<section class="page-banner" style="background-image: url(static/assets/images/New/place/Place\ \(10\).jpeg)">
	<div class="auto-container">
		<ul class="page-breadbrumbs">
			<li><a href="#">Home</a></li>
			<li>about us</li>
		</ul>
		<h1 class="page-banner_title">ABOUT US</h1>
	</div>
</section>
<!-- End Page Banner -->

<!-- About One -->
<div style="background:url(static/assets/images/New/c.jpg) center  no-repeat;background-size: contain; ">
	<section class="about-one" style="background-color: rgba(255, 255, 255, 0.3);">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Image Column -->
				<!-- Content Column -->
				<div class="about-one_content-column col-md-12 col-sm-12">
					<div class="about-one_content">
						<div class="sec-title_three">
							<div class="sec-title_three-title">Why with Us</div>
							<h1 class="sec-title_three-heading">Pahado Se</h1>
							<div class="sec-title_three-text">
								Welcome to <b>PahadoSe</b>, where the Himalayan spirit comes alive. As a
								lifestyle
								specialist company born in the heart of the Indian Himalayas, we’re on a mission
								to
								spread the essence of this majestic region globally. Our core values—
								<b>progress,
									prosperity, and perseverance</b> —drive everything we do.
							</div>
							<div class="sec-title_three-text">
								We believe in preserving the Sustainable Himalayan way of life. Our goal is to
								keep
								the <b>“Himalayan Spirit”</b> alive among nature enthusiasts, Himalaya lovers,
								and
								all who seek authenticity.
							</div>
							<div class="sec-title_three-text">Our commitment towards Environmental Stewardship
								includes safeguarding the environment, flora, fauna, culture, and economy of the
								Himalayan region.</div>
							<div class="sec-title_three-text">Our love lies in assisting everyone in exploring
								the Himalayas through unique and curated experiences.</div>
							<div class="sec-title_three-text">Join us in this eco-friendly Himalayan journey,
								where sustainability meets unique experiences. Explore homestays, retreats, and
								adventure activities with PahadoSe!</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- End About One -->

<!-- Feature One -->
<section class="feature-one style-three mb-5">
	<div class="auto-container">
		<div class="inner-container">
			<div class="row clearfix">

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="0ms"
						data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-smile-1"></div>
						<h5 class="feature-block_one-title">Customer Delight</h5>
						<div class="feature-block_one-text">We deliver the best service and experience for our
							customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="150ms"
						data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-mountain"></div>
						<h5 class="feature-block_one-title">Authentic Adventure</h5>
						<div class="feature-block_one-text">We deliver the real adventure experience for our
							dear customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="300ms"
						data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-flags"></div>
						<h5 class="feature-block_one-title">Expert Guides</h5>
						<div class="feature-block_one-text">We deliver only expert tour guides for our dear
							customer.</div>
					</div>
				</div>

				<!-- Feature Block One -->
				<div class="feature-block_one col-lg-3 col-md-6 col-sm-12">
					<div class="feature-block_one-inner wow fadeInLeft" data-wow-delay="450ms"
						data-wow-duration="1500ms">
						<div class="feature-block_one-icon flaticon-clock"></div>
						<h5 class="feature-block_one-title">Time Flexibility</h5>
						<div class="feature-block_one-text">We welcome time flexibility of traveling for our
							dear customer.</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- End Feature One -->
{% endblock content %}
