<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Responsive -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
		<link rel="icon" href="images/logo.png" type="image/x-icon">

		<title>Pahado Se</title>
		<!-- Stylesheet  -->
		<link href="css/style-1.css" rel="stylesheet">

	</head>

<body>
 
<div class="page-wrapper">
	
    <!-- Preloader -->
	<div class="loader-wrap">
		<div class="preloader">
			<div class="preloader-close"><span class="fa fa-times fw-normal"></span></div>
			<div id="handle-preloader" class="handle-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
					<div class="txt-loading">
						<span data-text-preloader="P" class="letters-loading">
							P
						</span>
						<span data-text-preloader="a" class="letters-loading">
							a
						</span>
						<span data-text-preloader="h" class="letters-loading">
							h
						</span>
						<span data-text-preloader="a" class="letters-loading">
							a
						</span>
						<span data-text-preloader="d" class="letters-loading">
							d
						</span>
						<span data-text-preloader="o" class="letters-loading">
							o
						</span>
						<span data-text-preloader="S" class="letters-loading">
							S
						</span>
						<span data-text-preloader="e" class="letters-loading">
							e
						</span>
					</div>
				</div>  
			</div>
		</div>
	</div>
	<!-- End Preloader -->
 	
 	<!-- Main Header -->
	<header class="header header_style_one">
		<div class="middle_bar">
			<div class="auto-container">
				<div class="middle_bar_inner d-flex align-items-center justify-content-center justify-content-between gap-4 flex-wrap">
					<!-- Logo -->
					<div class="logo">
						<a href="index.html" class="logo_default"><img src="images/logoc.png" width="100px"
							alt="img"></a>
					<a href="index.html" class="logo_sticky"><img src="images/logoc.png" width="100px"
							alt="img"></a>
					</div>
					<div class="mainnav d-none d-lg-block">
						<ul class="main_menu">
							<li class="menu-item"><a href="index.html">Home</a></li>
								<li class="menu-item"><a href="experiences.html">Experiences</a></li>
								<li class="menu-item"><a href="stays.html">Stays</a></li>
								<li class="menu-item"><a href="about.html">About Us</a></li>
								<li class="menu-item"><a href="memories.html">Memories</a></li>
								<!-- <li class="menu-item"><a href="blog.html">Blog</a></li> -->
								<li class="menu-item"><a href="contact.html">Let’s Connect</a></li>
							</ul>
					</div>
		
					<div class="other_elements_wrapper d-flex align-items-center gap-4">
						<!-- Button Box -->
						<div class="button-box d-none d-sm-block">
							<a class="btn-style-one theme-btn" href="login.html">
								<div class="btn-wrap">
									<span class="text-one">Sign In</span>
									<span class="text-two">Sign In</span>
								</div>
							</a>
							<a class="btn-style-two theme-btn" href="login.html">
								<div class="btn-wrap">
									<span class="text-one">Sign In</span>
									<span class="text-two">Sign In</span>
								</div>
							</a>
						</div>
						
						<!-- Mobile Menu Toggle Button -->
						<div class="mr_menu_toggle d-lg-none">
							<span class="toggle_line"></span>
							<span class="toggle_line"></span>
							<span class="toggle_line"></span>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Sticky/Fixed Nav -->
	<div class="fixed_menu w-100">
		<header class="header header_style_one"></header>
	</div>

	<!-- Mobile Responsive Menu -->
	<div class="mr_menu d-lg-none">
		
		<button type="button" class="mr_menu_close"><i class="fa fa-times"></i></button>
		<div class="logo"></div> <!-- Keep this div empty. Logo will come here by JavaScript -->
		<div class="mr_navmenu"></div> <!-- Keep this div empty. Menu will come here by JavaScript -->
	</div>
    <!-- End Main Header -->
	
	<!-- Page Banner -->
	<section class="page-banner" style="background-image: url(images/New/2.jpeg)">
		<div class="auto-container">
			<ul class="page-breadbrumbs">
				<li><a href="#">Home</a></li>
				<li>Stays</li>
				<li>Rooms</li>
			</ul>
			<h1 class="page-banner_title">Rooms</h1>
			<div class="banner-rating">
				<i class="fas fa-map-marker-alt fa-fw"></i>
				Uttarakhand &ensp; | &ensp;
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
				<span class="fa fa-star"></span>
			</div>
		</div>
	</section>
	<!-- End Page Banner -->
	
	<!-- Hotel Detail Detail -->
	<section class="hotel-detail_gallery">
		<div class="auto-container">
			<div class="row clearfix">
				<div class="col-lg-9 col-md-9 col-sm-12">
					<div class="image">
						<a class="lightbox-image" href="images/New/rooms/2 (5).jpeg"><img src="images/New/rooms/2 (5).jpeg" alt=""></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-12">
					<div class="image">
						<a class="lightbox-image" href="images/New/rooms/2 (2).jpeg"><img src="images/New/rooms/2 (2).jpeg" alt=""></a>
					</div>
					<div class="image">
						<a class="lightbox-image" href="images/New/rooms/1 (4).jpeg"><img src="images/New/rooms/1 (4).jpeg" alt=""></a>
					</div>
					<div class="image">
						<img src="images/New/rooms/2 (5).jpeg" alt="">
						<div class="overlay-box">
							<div class="overlay-inner">
								<a class="lightbox-image" href="images/New/rooms/2 (5).jpeg">See All Photos</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hotel Detail -->

	<!-- Hotel Detail -->
	<section class="hotel-detail">
		<div class="auto-container">
			<div class="row clearfix">
				<!-- Left Column -->
				<div class="left-column col-md-12 col-sm-12">
					<h2>OVERVIEW</h2>
					<p>Situated just steps from the iconic Place Vendôme, the hotel offers easy access to some of the city's most famous attractions, including the Louvre Museum, the Champs-Élysées, the Arc de Triomphe, and the famous Eiffel Tower view.</p>
					<h3>FACILITIES</h3>
					<div class="clearfix">

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="images/icons/hotel-icon-2.png" alt=""></span>
							Quality <br> Restaurant
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="images/icons/hotel-icon-5.png" alt=""></span>
							24/7 <br> Front-Desk
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="images/icons/hotel-icon-6.png" alt=""></span>Parking
						</div>

						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="images/icons/hotel-icon-8.png" alt=""></span>
							Room <br> Service
						</div>
						<!-- Hotel Feature List -->
						<div class="hotel-feature_list">
							<span class="icon"><img src="images/icons/hotel-icon-10.png" alt=""></span>
							Luggage <br> Storage
						</div>

					</div>
					<h3>LOCATION</h3>
					<!-- Map Three -->
					<div class="map-three">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1735832.4973275687!2d77.30175465!3d31.81688095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390453c367f901f7%3A0x7cfe04c5564b7725!2sHimachal%20Pradesh!5e0!3m2!1sen!2sin!4v1720011116555!5m2!1sen!2sin" allowfullscreen=""></iframe>
					</div>
					<!-- End Map Three -->

					<!-- Attractions -->
					<div class="hotel-attractions">
						<h4>Nearby Attractions</h4>
						<div class="row clearfix">

							<!-- Gallery Block Three -->
							<div class="gallery-block_three col-lg-6 col-md-6 col-sm-12">
								<div class="gallery-block_three-inner">
									<div class="gallery-block_three-image">
										<img src="images/resource/hotel-5.jpg" alt="">
										<div class="overlay-box">
											<div class="overlay-content">
												<div class="d-flex align-items-center flex-wrap justify-content-between">
													<div class="left-box">
														<h5><a href="destination-details.html">Place 1</a></h5>
														<div class="gallery-block_three-location">20 Packages</div>
													</div>
													<div class="right-box">
														<a class="theme-btn learn-btn" href="#">learn more</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<!-- Column -->
							<div class="column col-lg-6 col-md-6 col-sm-12">
								<ul class="location-distance">
									<li>Place 1<span></span> <i>( 1,5 km )</i></li>
									<li>Place 2<span></span> <i>( 2,3 km )</i></li>
									<li>Place 3<span></span> <i>( 3,1 km )</i></li>
									<li>Place 4<span></span> <i>( 4,2 km )</i></li>
								</ul>
								<!-- Button Box -->
								<div class="destination-button-box text-right">
									<a class="btn-style-three theme-btn" href="contact.html">
										<div class="btn-wrap">
											<span class="text-one">See All Destinations</span>
											<span class="text-two">See All Destinations</span>
										</div>
									</a>
								</div>
							</div>

						</div>
					</div>
					<!-- End Attractions -->

					<!-- Hotel Rooms -->
					<div class="hotel-rooms">
						<h3>ROOM TYPES</h3>
					</div>
					<!-- End Hotel Rooms -->

					<div class="">
						<!-- Room Block One -->
					<div class="room-block_one">
						<div class="room-block_one-inner">
							<div class="comfort-section">
								<ul class="image-carousel owl-carousel owl-theme">
									<li><a href="images/New/rooms/1 (4).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (4).jpeg" alt="" style="border-radius:  25px;"></a></li>
									<li><a href="images/New/rooms/1 (2).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (2).jpeg" style="border-radius:  25px;" alt=""></a></li>
									<li><a href="images/New/rooms/1 (3).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (3).jpeg" style="border-radius:  25px;" alt=""></a></li>
									<li><a href="images/New/rooms/1 (1).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (1).jpeg" style="border-radius:  25px;" alt=""></a></li>
									<li><a href="images/New/rooms/1 (2).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (2).jpeg" style="border-radius:  25px;" alt=""></a></li>
									<li><a href="images/New/rooms/1 (4).jpeg" class="lightbox-image"><img src="images/New/rooms/1 (4).jpeg" alt=""></a></li>
								</ul>
									
								<ul class="thumbs-carousel owl-carousel owl-theme">
									<li><img src="images/New/rooms/1 (4).jpeg" alt="" style="border-radius:  10px;"></li>
									<li><img src="images/New/rooms/1 (2).jpeg" alt="" style="border-radius:  10px;"></li>
									<li><img src="images/New/rooms/1 (3).jpeg" alt="" style="border-radius:  10px;"></li>
									<li><img src="images/New/rooms/1 (1).jpeg" alt="" style="border-radius:  10px;"></li>
									<li><img src="images/New/rooms/1 (2).jpeg" alt="" style="border-radius:  10px;"></li>
									<li><img src="images/New/rooms/1 (4).jpeg" alt="" style="border-radius:  10px;"></li>
								</ul>
							</div>
							<div class="room-block_one-content">
								<div class="room-block_one-title"><a href="stay-booking.html">Room 1</a></div>
								<ul class="room-block_one-options">
									<li><span class="icon"><img src="images/icons/hotel-icon-11.png" alt=""></span>30 sqm</li>
									<li><span class="icon"><img src="images/icons/hotel-icon-12.png" alt=""></span>Queen Size</li>
									<li><span class="icon"><img src="images/icons/hotel-icon-13.png" alt=""></span>2 guests</li>
								</ul>
								<ul class="room-block_one-list">
									<li>Free Wi-Fi</li>
									<li>AC</li>
									<li>Toiletries</li>
									<li>Mini Bar</li>
									<li>No Breakfast</li>
								</ul>
								<a class="detail theme-btn" href="stay-booking.html">Room Details</a>
								<div class="price-box">
									<div class="price">950 <span>/ night</span></div>
									<!-- Button Box -->
									<div class="button-box">
										<a class="btn-style-two theme-btn" href="stay-booking.html">
											<div class="btn-wrap">
												<span class="text-one">Book Now</span>
												<span class="text-two">Book Now</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Room Block One -->
					<div class="room-block_one">
						<div class="room-block_one-inner">
							<div class="comfort-section-1">
								<ul class="image-carousel owl-carousel owl-theme">
									<li><a href="images/New/rooms/2 (5).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (5).jpeg" alt="" style="border-radius:  25px;" ></a></li>
									<li><a href="images/New/rooms/2 (3).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (3).jpeg" alt="" style="border-radius:  25px;" ></a></li>
									<li><a href="images/New/rooms/2 (7).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (7).jpeg" alt="" style="border-radius:  25px;" ></a></li>
									<li><a href="images/New/rooms/2 (8).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (8).jpeg" alt="" style="border-radius:  25px;" ></a></li>
									<li><a href="images/New/rooms/2 (9).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (9).jpeg" alt="" style="border-radius:  25px;" ></a></li>
									<li><a href="images/New/rooms/2 (5).jpeg" class="lightbox-image"><img src="images/New/rooms/2 (5).jpeg" alt="" style="border-radius:  25px;" ></a></li>
								</ul>
								<ul class="thumbs-carousel owl-carousel owl-theme">
									<li><img src="images/New/rooms/2 (5).jpeg" alt="" style="border-radius:  10px;" ></li>
									<li><img src="images/New/rooms/2 (3).jpeg" alt="" style="border-radius:  10px;" ></li>
									<li><img src="images/New/rooms/2 (7).jpeg" alt="" style="border-radius:  10px;" ></li>
									<li><img src="images/New/rooms/2 (8).jpeg" alt="" style="border-radius:  10px;" ></li>
									<li><img src="images/New/rooms/2 (9).jpeg" alt="" style="border-radius:  10px;" ></li>
									<li><img src="images/New/rooms/2 (5).jpeg" alt="" style="border-radius:  10px;" ></li>
								</ul>
							</div>
							<div class="room-block_one-content">
								<div class="room-block_one-title"><a href="stay-booking.html">Deluxe Room</a></div>
								<ul class="room-block_one-options">
									<li><span class="icon"><img src="images/icons/hotel-icon-11.png" alt=""></span>30 sqm</li>
									<li><span class="icon"><img src="images/icons/hotel-icon-12.png" alt=""></span>Queen Size</li>
									<li><span class="icon"><img src="images/icons/hotel-icon-13.png" alt=""></span>2 guests</li>
								</ul>
								<ul class="room-block_one-list">
									<li>Free Wi-Fi</li>
									<li>AC</li>
									<li>Toiletries</li>
									<li>Mini Bar</li>
									<li>No Breakfast</li>
								</ul>
								<a class="detail theme-btn" href="stay-booking.html">Room Details</a>
								<div class="price-box">
									<div class="price"> 750 <span>/ night</span></div>
									<!-- Button Box -->
									<div class="button-box">
										<a class="btn-style-two theme-btn" href="stay-booking.html">
											<div class="btn-wrap">
												<span class="text-one">Book Now</span>
												<span class="text-two">Book Now</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					</div>

					<h3>REVIEWS</h3>
					<!-- Room Review Box -->
					<div class="room-review_box">
						<div class="row clearfix">
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<div class="total-rating">
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
									<div class="total-rate">4.5</div>
									<div class="total-counter-rating">( 1,500 )</div>
								</div>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-6">
								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Cleanliness</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fas fa-star-half-alt fa-fw"></span>
									</div>
								</div>

								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Facility</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>

								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Location</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="far fa-star fa-fw"></span>
									</div>
								</div>

							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-6">
								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Service</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fas fa-star-half-alt fa-fw"></span>
									</div>
								</div>

								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Meal</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</div>
								</div>

								<!-- Rating Category -->
								<div class="rating-category">
									<h5>Comfort</h5>
									<div class="rating">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="far fa-star fa-fw"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
					<!-- Comment -->
					<div class="hotel-detail_review col-md-6">
						<div class="review-inner">
							<h4>A Luxurious and Memorable Stay</h4>
							<div class="text">“We had a wonderful stay at the Grand Elysée Hotel. The staff was extremely friendly and helpful, and the room was spacious, clean, and comfortable. The hotel's location is perfect, with many popular attractions and restaurants within walking distance. We also enjoyed the hotel's restaurant and spa, which were both excellent. Overall, it was a truly luxurious and memorable experience.”</div>
							<div class="news-block_four-author">
								<div class="news-block_four-author_image">
									<img src="images/resource/author-9.jpg" alt="">
								</div>
								Maria Garcia
								<span>Client from Spain</span>
							</div>
							<div class="hotel-review_pattern" style="background-image: url(images/icons/pattern-3.png)"></div>
						</div>
					</div>
					<!-- Comment -->
					<div class="hotel-detail_review col-md-6">
						<div class="review-inner">
							<h4>Exceptional Service & Facilities</h4>
							<div class="text">“My wife and I stayed at the Grand Elysée Hotel for our honeymoon, and we couldn't have been happier with our experience. The hotel's service and facilities were exceptional, and the staff went above and beyond to make our stay special. We especially enjoyed the spa and fitness center, which were both top-notch. The location of the hotel is also excellent, with many popular attractions nearby. We highly recommend!”</div>
							<div class="news-block_four-author">
								<div class="news-block_four-author_image">
									<img src="images/resource/author-10.jpg" alt="">
								</div>
								Jonathan Smith
								<span>Client from United States</span>
							</div>
							<div class="hotel-review_pattern" style="background-image: url(images/icons/pattern-3.png)"></div>
						</div>
					</div>
					</div>
					<!-- Pagination Outer -->
					<div class="pagination-outer text-right">
						<ul class="paginations">
							<li><a href="#"><span class="flaticon-left-arrow-2"></span></a></li>
							<li class="active"><a href="#">01</a></li>
							<li><a href="#">02</a></li>
							<li><a href="#">03</a></li>
							<li>...</li>
							<li><a href="#">10</a></li>
							<li><a href="#"><span class="flaticon-next-2"></span></a></li>
						</ul>
					</div>

					<!-- Hotel Detail Policies -->
					<div class="hotel-detail_policies mb-5">
						<h4>HOTEL POLICIES</h4>
						<ul class="tour-detail-two_options">
							<li>Pets are not allowed in the hotel.</li>
							<li>Smoking is strictly prohibited in all indoor areas of the hotel.</li>
							<li>Check-in time is at 3:00 PM and check-out time is at 12:00 PM.</li>
							<li>The hotel may charge a fee for early check-in or late check-out.</li>
							<li>Additional fees may apply for certain hotel amenities or services.</li>
							<li>The hotel requires a valid government-issued photo ID or passport at check-in.</li>
							<li>Guests are responsible for any damages caused to the hotel property during stay.</li>
							<li>The hotel reserves the right to refuse service to anyone who violates hotel policies or causes disturbance to other guests.</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- End Hotel Detail -->

	<!-- Footer -->
	<footer class="main-footer">
		<div class="auto-container">
			<!-- Upper Box -->
			<div class="upper-box">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="footer-logo"><a href="index.html"><img src="images/logoc.png" width="100px" alt="" title=""></a></div>
					<ul class="footer-nav">
						<li><a href="experiences.html">Experiences</a></li>
						<li><a href="stays.html">Stays</a></li>
						<li><a href="about.html">About Us</a></li>
						<li><a href="memories.html">Memories</a></li>
						<!-- <li><a href="blog.html">Blog</a></li> -->
						<li><a href="contact.html">Let’s Connect</a></li>
					</ul>
					<!-- Social Box -->
					<div class="footer-social_box">
						<a href="https://facebook.com/" class="fab fa-facebook fa-fw"></a>
						<a href="https://twitter.com/"><svg  style="margin-top: -5px !important;" xmlns="http://www.w3.org/2000/svg" width="35" height="40" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
							<path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
						  </svg></a>
						<a href="https://instagram.com/" class="fab fa-instagram fa-fw"></a>
					</div>
				</div>
			</div>

			<div class="footer-bottom">
				<div class="d-flex align-items-center justify-content-between flex-wrap">
					<div class="copyright">Copyright &copy; 2024 Pahado-se. All rights reserved.</div>
					<ul class="footer-bottom_nav">
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Terms & Condition</a></li>
					</ul>
				</div>
			</div>

		</div>
	</footer>

</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top"><span class="fas fa-arrow-up fa-fw"></span></div>

<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/magnific-popup.min.js"></script>
<script src="js/appear.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/tilt.jquery.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>

<script src="js/odometer.js"></script>
<script src="js/isotope.js"></script>
<script src="js/jquery.marquee.min.js"></script>
<script src="js/parallax-scroll.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/mixitup.js"></script>
<script src="js/swiper.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/flatpickr.min.js"></script>
<script src="js/price-range.js"></script>

<script src="js/script.js"></script>

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

</body>
</html>